# site (Next)
site/node_modules/
site/.next/
site/.vercel
site/.env*
!site/.env.local.example
site/*.tsbuildinfo
site/next-env.d.ts

# log & OS
.DS_Store
npm-debug.log*
yarn-error.log*
*.pem

# python
.mypy_cache/
__pycache__/
*.pyc
.venv/
